<div class="config-panel">
  <h2>Form Configuration</h2>
  <kendo-grid
    [kendoGridBinding]="fields"
    [rowReorderable]="true"
    (rowReorder)="onRowReorder($event)"
    [reorderable]="true"
  >
    <kendo-grid-rowreorder-column [width]="10" [lockable]="false">
      <ng-template kendoGridReorderColumnTemplate></ng-template>
    </kendo-grid-rowreorder-column>
    
    <kendo-grid-column title="Show Field" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input 
          type="checkbox" 
          kendoCheckBox 
          [(ngModel)]="dataItem.visible"  
          (ngModelChange)="onCheckboxChange(); onRequiredChange(dataItem)"
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="label" title="Field Name" [width]="50">
    </kendo-grid-column>

    <kendo-grid-column title="Required" [width]="60">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input 
          type="checkbox" 
          kendoCheckBox
          [(ngModel)]="dataItem.required" 
          [disabled]="!dataItem.visible" 
        />
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

  <!-- Error Message (only shows when no fields are selected) -->
  <div *ngIf="isSaveDisabled" class="error-message">
    <span class="error-text">At least one field must be checked.</span>
  </div>

  <div class="button-container">
    <button 
      kendoButton 
      look="flat" 
      (click)="saveConfig()"  
      [disabled]="isSaveDisabled"
    >
      Save Changes
    </button>
  </div>
</div>