@import '../styles/variables';

nav {
  width: 100%;
  background-color:$secondary-color ; 
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .nav-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    padding-right: 1.5rem;
    
  }

  .nav-left {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 55px;  
    height: 55px;
    margin-right: 700px;
  }
  button {
    background-color:$background-color; 
    color: $primary-color;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: auto;
 

    &:hover {
      background-color: $background-color ;
      transform:translateY(-1px);
    }

    &.active {
      background-color:$primary-color; 
      color: $background-color; 
    }
  }

}

.container {
  margin-top: 4rem; 
  padding: 1rem;
}
